name: Haskell CI

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: freckle/stack-cache-action@main
    - uses: haskell/actions/setup@v2
      with:
        ghc-version: '9.10.1'
        enable-stack: true
        stack-version: 'latest'

    - name: Install Z3
      run: |
        wget https://github.com/Z3Prover/z3/releases/download/z3-4.9.1/z3-4.9.1-x64-glibc-2.31.zip
        unzip z3-4.9.1-x64-glibc-2.31.zip
        rm -f z3-4.9.1-x64-glibc-2.31.zip
        sudo cp z3-4.9.1-x64-glibc-2.31/bin/libz3.a /usr/local/lib
        sudo cp z3-4.9.1-x64-glibc-2.31/bin/z3 /usr/local/bin
        sudo cp z3-4.9.1-x64-glibc-2.31/include/* /usr/local/include
        rm -rf z3-4.9.1-x64-glibc-2.31
        z3 --version
    - name: Build Examples
      run: |
        cabal update
        cabal build
